
@{
    ViewData["Title"] = "ForRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
    <div class="container ie-h-align-center-fix">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
                <div class="tm-bg-white tm-p-4">
                    <form action="Index" method="post" class="login-form">
                        <h1>Sucessfull!!</h1>

                        <button type="submit" class="btn btn-primary tm-btn-primary" value="Index">Go To Home</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

